/* @group RESET */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, main, menu, nav, section, summary, time, mark, audio, video {
	margin:0;
	border:0;
	padding:0;
	outline:0;
	vertical-align:baseline;
	font-size:100%;
	background:transparent;
}


article, aside, canvas, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
	display:block
}

/* Zitate ohne Anführungszeichen */

blockquote, q{
	quotes:none
}

blockquote:before, blockquote:after, q:before, q:after	{
	content:none
}

/* @group LINKS */

a {
	margin:0;
	border:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}


a:hover, a:active {
	outline: 0
}

:focus {
	outline:thin dotted
}

/*
a:link { 
	-webkit-tap-highlight-color: #FF5E99; iOS rausnehmen, ist zu ressourcenhungrig
}
*/

/* @end */

/* @group TEXTAUSZEICHNUNG */

h1, h2, h3, h4, h5, h6 { 
	font-weight: bold
}

ins	{
	background-color:#ff9;
	color:#000;
	text-decoration:none
}

mark	{
	background-color:#ff9;
	color:#000;
	font-style:italic;
	font-weight:700
}

del	{
	text-decoration:line-through
}

abbr[title], dfn[title]	{
	border-bottom:1px dotted #000;
	cursor:help
}

sub, sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline 
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em;
}

/* @end */

/* @group LISTEN */

ul, ol {
	margin-left: 2em;
}

nav ul {
	margin: 0;
	list-style:none
}


dd {
	margin: 0 0 0 1em;
}



/* @end */

/* @group TABELLEN */


table {
	border-collapse:collapse;
	border-spacing:0
}


caption, th, td {
	text-align:left;
	font-weight:400
}

/* @end */

/* @group FORMULARE */


legend { 
	
	display:table; /* Zeilenumbruch im IE, 456bereastreet.com */
	white-space:normal; /* Zeilenumbruch in alten FF */
}

label {
	cursor: pointer
}

button, input, select, textarea {
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle; /* ≤ IE */
	font-size: 100%;
}

button, input {
	*overflow: visible;
	line-height: normal; /* FF */
}


table button, table input { 
	*overflow: auto; /* ≤ IE 7 */
}


button, input[type="button"], input[type="reset"], input[type="submit"], [role="button"] {
	cursor: pointer;
	-webkit-appearance: button; /* iOS */
}

/* Größen angleichen ->  */

input[type="checkbox"], input[type="radio"] { 
	padding: 0;
	box-sizing: border-box;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box; 
	-webkit-box-sizing: content-box; 
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration { 
	-webkit-appearance: none
}

/* <- Größen angleichen */


button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea { 
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}

input, textarea {
	border:  1px solid #ddd;
	margin:0; /* www.456bereastreet.com/archive/201210/removing_whitespace_around_text_fields */
	background-color: none;
	vertical-align: bottom; /* www.456bereastreet.com/archive/201210/removing_whitespace_around_text_fields */
}

input:invalid, textarea:invalid { 
	background-color: #f0dddd;	
}

/* @end */

/* @group BILDER */

img {
 	border: 0;
 	-ms-interpolation-mode: bicubic;
 	vertical-align: middle;
 }

/* @end */

/* @group DIVERSE */

hr	{
	display:block;
	margin:1em 0;
	border:0;
	border-top:1px solid #ccc;
	padding:0;
	height:1px;
}

/* @end */

html {
	height:100%;
	min-height:100.5%;
	overflow-y: scroll;
}

/* @end */





/* The gallery overlay */

#overlay{
	position:fixed;
	display:none;
	top:0;
	left:0;
	z-index:1000;
	overflow:hidden;
	width:100%;
	height:100%;
	background-color:#222;
	background-color:rgba(255,0,0,.1);
	opacity:0;
	
/* -webkit-transition:opacity 1s ease; */
	
/* -moz-transition:opacity 1s ease; */
	
/* transition:opacity 1s ease; */
}

/* This class will trigger the animation */

#overlay.visible{
	opacity:1;
}

#wall{
	position:absolute;
	top:0;
	left:-100%;
	width:100%;
	height:100%;
	white-space: nowrap;
	background-color:rgba(0,255,0,.1);
	letter-spacing: -4px;
	
/* -webkit-transition:left 0.4s ease; */
	
	
/* -moz-transition:left 0.4s ease; */
	
	
/* transition:left 0.4s ease; */
}

#wall .frame{
	position: relative;
	display:inline-block;
	left: 0;
	width:100%;
	height: 100%;
	line-height: 1px;
	text-align: center;
	/* background: url("preloader.gif") no-repeat center center; */
	background-color:rgba(0,0,255,.1);
	z-index: 1002;	
}


 .frame:before{
	content: ""; 
	display: inline-block; 
 	margin-right:-1px; 
 	width: 1px; 
 	height: 50%; 
 }

#wall figcaption {
	position: absolute;
	right: 10%;
	bottom: 5%;
	left: 10%;
	 border: 5px solid rgba(0,0,0,0.2); 
	 border-radius: 5px; 
	line-height: 1.4;
	white-space: normal;
	color: #fff;
	background: rgba(0,0,0,0.6);
	letter-spacing: normal;
	z-index:1008 !important;
	
	
}

#wall img{
	display: inline-block;
	max-width: 96%;
	max-height: 96%;
	vertical-align: middle;
	box-shadow:2px 2px 0px #000, 2px -2px 0px #000, -2px -2px 0px #000, -2px 2px 0px #000, 10px 10px 0px #eee, 10px -10px 0px #eee, -10px -10px 0px #eee, -10px 10px 0px #eee;
	/*outline: 20px solid #eee;*/
	z-index:1004;
	
}




/*----------------------*/

/* The before element moves the
 * image halfway from the top */



#wall.rightSpring{
	-webkit-animation: rightSpring 0.3s;
	-moz-animation: rightSpring 0.3s;
}

#wall.leftSpring{
	-webkit-animation: leftSpring 0.3s;
	-moz-animation: leftSpring 0.3s;
}

/* Firefox Keyframe Animations */

@-moz-keyframes rightSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:-30px;}
	100%{	margin-left:0px;}
}

@-moz-keyframes leftSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:30px;}
	100%{	margin-left:0px;}
}

/* Safari and Chrome Keyframe Animations */

@-webkit-keyframes rightSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:-30px;}
	100%{	margin-left:0px;}
}

@-webkit-keyframes leftSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:30px;}
	100%{	margin-left:0px;}
}

/* Arrows */

#prevArrow,#nextArrow{
	position:absolute;
	
	top:50%;
	margin-top:-29px;
	border:none;
	width:43px;
	height:58px;
	text-decoration:none;
	background:url('arrows.png') no-repeat;
	opacity:0.5;
	cursor:pointer;
	-webkit-transition:opacity 0.2s ease;
	
	-moz-transition:opacity 0.2s ease;
	transition:opacity 0.2s ease;
}

#prevArrow:hover, #nextArrow:hover{
	opacity:1;
}

#prevArrow{
	left:40px;
	background-position:left top;
}

#nextArrow{
	right:40px;
	background-position:right top;
}