body {
background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .5) 25%, transparent 25%,
                  transparent 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%,
                  transparent 75%, transparent);
background-image: linear-gradient(0deg, rgba(255, 255, 255, .5) 25%, transparent 25%,
                  transparent 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%,
                  transparent 75%, transparent);
background-size: 100px 100px;

}

section {
	margin: 1em auto;
	padding: 1em;
	max-width: 60em;
	width: 100%;
	background-color: #eee;
}

section h1 {
	margin-bottom: 1em;
	font-size: 2em;
}

section p {
	font-size: 1.4em;
	line-height: 1.5;
}

#overlay {
   position: fixed;
   display: table;
   top: 0px;
   left: 0px;
   z-index:199;
   width:100%;
   height:100%;
   background-color: rgba(225, 0, 0, .1);	
}

#wall {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 225, 0, .1);
}

#frame {
	position: absolute;
	display: table;
	margin: 0;
	width: 100% !important;
	height: 100% !important;
	text-align: center;
   	background-color: rgba(0, 0, 225, .1);  

}

#overlay figure {
 	display: table-cell;
	vertical-align: middle;
}

#overlay figcaption {
	font-size: 1.2em;
	color: #000;
	background: #fff;
}



#overlay img {
	max-width: 640px;
	max-height: 640px;
	width: 100%;
	height: 100%;
}

/* @end */



